# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Virtual environment
env/
venv/
.venv/

# Jupyter / temp data
*.ipynb_checkpoints

# CSV / datasets
*.csv

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db